.section
  %table
    %tr
      %td(colspan="5")
        .label.top.req #{"Description"}:
        = f.text_field :name, :autofocus => true, :style => "width:500px"
    %tr
      %td
        .label.req #{t " "}:
        = f.input :start_time, as: :datetime
      %td= spacer
      %td
        .label.req #{t :due}:
        - bucket = "specific_time"
        - with_time = Setting.task_calendar_with_time
        = f.select :bucket, @bucket, { :selected => :specific_time }, { :style => "width:160px; display:none;", :onchange => "crm.flip_calendar(this.value)" }
        - fmt = with_time ? '%Y-%m-%d %H:%M' : '%Y-%m-%d'
        = f.text_field :calendar, :style => "width:160px;", :autocomplete => :off, :class => (with_time ? 'datetime' : 'date')



      %td= spacer
      %td
        .label.req #{t :assign_to}:
        = user_select(:task, all_users, current_user)
      %td= spacer
      %td
        .label.req #{t :category}:
        = f.select :category, @category, { :selected => @task.category.blank? ? nil : @task.category.to_sym, :include_blank => t(:select_blank) }, { :style => "width:160px" }

    - if Setting.background_info && Setting.background_info.include?(:task)
      %tr
        %td(colspan="5")
          .label= t(:extra_info).capitalize << ':'
          = f.text_area :background_info, :style =>"width:500px", :rows => 3

    = hook(:task_top_section_bottom, self, :f => f)
