<head>
  <%= stylesheet_link_tag "seller4" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      $('.lead_email label').append(' <em>required</em>');
//      $('#secondary-form').keydown(function (e) {
//        setTimeout(function () {
//          if ($('#lead_email').val()) {
//            $('#form-submitall').prop('disabled', false);
//          } else {
//            $('#form-submitall').prop('disabled', true);
//          }
//        }, 100);
//      })
    });
  </script>

</head>

<!-- <div class="navbar-fixed"> <nav style="background-color: rgba(0,0,0,0); box-shadow: none;"> <div style="padding-left: 2%; scale: 0.2;"> <a href="" class="brand-logo responsive-img"><%= image_tag( 'logo/horizontaleng300x200.png' ) %></a> </div>
</nav> </div> -->

<body class="background-image">
  <main>
    <div class="row" style="padding-top: 8%;">
      <div class="col s1 m2 l4"></div>
      <div class="col s12 m8 l4 formbg">
        <%= simple_form_for @lead, url: landing4_path, remote: true do |f| %>
        <%= f.input :source, :as => :hidden, input_html: { value: 'Nancy Seller Form 2'} %>
        <%= f.input :buysell, :as => :hidden, input_html: { value: 'Seller'} %>
        <%= f.input :first_name , :as => :hidden, input_html: { value: 'anonymous'} %>
        <%= f.input :last_name , :as => :hidden, input_html: { value: 'anonymous'} %>
        <%= f.input :leadstatus , :as => :hidden, input_html: { value: 'partial'} %>
        <div id="address-form">
          <center>
            <h1>
              <strong>Find Out What Your Home is Worth.</h1>
            </strong>
          </center>
          <center>
            <h5>We Offer Free Home Value Report</h5>
          </center>
          <div id="locationField">
            <%= f.input :address, placeholder: 'Street Address' %>
            <%= f.input :unit, placeholder: 'Unit #'%>
            <%= f.input :postalcode, input_html: { id: 'postal_code', class: 'field' } %>
            <%= f.input :city, input_html: { id: 'locality', class: 'field' } %>
            <%= f.input :propertytype ,label: 'Property Type', collection: [ "House", "1/2 Duplex", "Townhouse", "Apartment/Condo" ] %>
            <br/>
            <div class="right-align">
              <!--<button id="form-continue" type="button" class="waves-effect waves-light btn" style="display:none; margin-top: 10%; font-size: 20px;">Click Here To Continue <i class="material-icons right">send</i></button>-->
              <%= f.button :submit ,:id => "form-continue", :class => "btn formbtn waves-effect waves-light" , value: 'Click Here To Continue', :style => "margin-top: 10%; font-size: 20px;" %>
            </div>
          </div>
        </div>
      <% end %>
      <%= simple_form_for @lead, url: landing4_path do |f| %>
      <div id="secondary-form" style="display:none;">
        <h1>
          <center>
            <strong>Who do we send the report to?</h1>
          </strong>
        </center>
        <%= f.input :leadstatus , :as => :hidden, input_html: { value: 'full'} %>
        <%= f.input :first_name , placeholder: 'First Name...' %>
        <%= f.input :last_name , placeholder: 'Last Name...' %>
        <%= f.input :phone , placeholder: 'Phone Number...' %>
        <%= f.input :email , placeholder: 'Email Address...', label: 'Email *' %>
        <%= f.input :price, label: 'Asking Price' %>

        <!-- <%= f.input :desireddeal ,label: 'Desired Date To Sell' , placeholder: 'Please Select From The Calendar...'%> -->
        <%= f.input :desireddeal ,label: 'I am....', collection: [ "Just Curious", "Selling in 3-6 Months", "Selling in 6-12 Months", "Refinancing" ] %>

        <%# f.input :extrainfo, label: 'Other Information', placeholder: 'Please Write Down Any Information You Would Like To Share With Us...' %>

        <%= f.button :submit , :class => "btn formbtn" , value: 'Submit Information', id: "form-submitall" %>

      </div>
    <% end %>
    <br>
    <div class="center-align">
      <span class="responsive-img resizeimg"><%= image_tag( 'logo/png/REMAX_mastrBalloon_50x60.png' ) %></span>
      <span class="responsive-img"><%= image_tag( 'logo/png/Logo_Crest_rgb_horizontal_400x400.png' ) %></span>
    </div>
  </div>
  <div class="col s1 m2 l4"></div>
</div>
</main>

<footer>
<div class="footer-copyright">
  <div class="container center-align">
    ©2018 James Wang Personal Real Estate Corporation. All Rights Reserved
  </div>
</div>
</footer>
</body>