#header
  #welcome
    %span
      #{t :welcome},
      = current_user.name
    %span> !&nbsp;&nbsp;

    = link_to(t(:quick_find), "#", :id => "jumper") << " |"
    = link_to(t(:profile), profile_path) << " |"
    = link_to('Back To CRM', root_path) << " |"
    = link_to(t(:logout), logout_path, :method => :delete)
    = render "/layouts/jumpbox"
  %h3
    = link_to("James Realtor CRM", root_path)
