<%# app/views/leads/_list.html.erb %>
<div id="filterrific_results">
  <style>
    .bulkbutton{
      color:white;
      display:inline-block;
      float:right;
      padding: 5px;
      margin: 5px;
      border-radius: 4px;
      box-shadow: 2px 2px 3px #aaa;
    }
  </style>
  <div>
    <%= page_entries_info leads %>(s)
    <div class="bulkbutton" id="bulkdelete" style="background-color:red;">Delete Selected</div>
    <!--<div class="bulkbutton" id="bulkconvert" style="background-color:green;">Convert Selected</div>-->


  </div>
  <script type="text/javascript" charset="utf-8">
    $('#bulkdelete').click(function(){
      console.log("hi")
    })
  </script>
  <div>

  </div>
  <br>
  <style>
    #filter{
      width:100%;
    }
    #filter td,th{
      border:thin black solid;
    }
    #filter th{
      font-size:1.2em;
    }
    #filter td{
      text-align: right;
      padding-right:5px;
    }
  </style>
  <%= form_tag destroy_multiple_leads_path, method: :delete do %>
  <table id="filter">
    <tr>
      <th>Name</th>
      <th>Lead Status</th>
      <th>Buyer/Seller</th>
      <th>Assigned to</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Registered at</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% leads.each do |lead| %>
        <tr>
          <td><%= link_to(lead.full_name, lead_path(lead)) %></td>
          <td><%= lead.leadstatus.capitalize if lead.leadstatus.present? %></td>
          <td><%= lead.buysell if lead.buysell.present? %></td>
          <td><%= User.where(:id => lead.assigned_to).last.username if lead.assigned_to.present? %></td>
          <td><%= lead.email %></td>
          <td><%= lead.phone %></td>
          <td><%= lead.decorated_created_at %></td>
          <td><%= link_to('/', lead_path(lead)) %></td>
          <!--<td><%# link_to('x', lead_path(lead), data: {:confirm => "Are you sure?"}, :method => :delete) %></td>-->
          <!--<td><%# check_box_tag("convert[#{lead.id}]",1,false,class: "convertcheck") %></td>-->
          <td><%= check_box_tag("lead_ids[]",lead.id,false,class: "deletecheck") %></td>
        </tr>
    <% end %>
  </table>
  <%= submit_tag "delete selected" %>
  <% end %>
</div>

<%= will_paginate leads %>
