<%# app/views/leads/_list.html.erb %>
<div id="filterrific_results">
  <style>
    .bulkbutton{
      color:white;
      display:inline-block;
      float:right;
      padding: 5px;
      margin: 5px;
      border-radius: 4px;
      box-shadow: 2px 2px 3px #aaa;
    }
  </style>
  <div>
    <%= page_entries_info leads %>(s)
    <div class="bulkbutton" id="bulkdelete" style="background-color:red;">Delete Selected</div>
    <!--<div class="bulkbutton" id="bulkconvert" style="background-color:green;">Convert Selected</div>-->


  </div>
  <script type="text/javascript" charset="utf-8">
    $('#bulkdelete').click(function(){
      console.log("hi")
    })
  </script>
  <div>

  </div>
  <br>
  <style>
   body{
     font-size: 1.3em;
   }
    #filter{
      width:100%;
    }
    #filter td,th{
      border:thin black solid;
    }
    #filter th{
      font-size:1.2em;
    }
    #filter td{
      text-align: right;
      padding-right:5px;
    }
    .tablecss td{
      text-align: center !important;
    }
  </style>
  <%= form_tag destroy_multiple_leads_path, method: :delete do %>
  <table class="tablecss" id="filter">
    <tr style="text-align: center;">
      <th>Lead Status</th>
      <th>Name</th>
      <th>Buyer/Seller</th>
      <th>Area</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Registered at</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% leads.each do |lead| %>
        <tr>
          <td><%= lead.leadstatus.capitalize if lead.leadstatus.present? %></td>
          <td><%= link_to(lead.full_name, lead_path(lead)) %></td>
          <td><%= lead.buysell if lead.buysell.present? %></td>
          <td><%= lead.cityname %></td>
          <td><%= lead.email %></td>
          <td><%= lead.phone %></td>
          <td><%= lead.decorated_created_at %></td>
          <td style="text-decoration: none; color:black;"><%= link_to(lead_path(lead)) do %><i class="fa fa-pencil"></i><% end %></td>
          <!--<td><%# link_to('x', lead_path(lead), data: {:confirm => "Are you sure?"}, :method => :delete) %></td>-->
          <!--<td><%# check_box_tag("convert[#{lead.id}]",1,false,class: "convertcheck") %></td>-->
          <td><%= check_box_tag("lead_ids[]",lead.id,false,class: "deletecheck") %></td>
        </tr>
    <% end %>
  </table>
  <%= submit_tag "delete selected", id: "delsubmit" %>
  <% end %>
  <input value="Select All" type="submit" id="checkAll">
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('input:checkbox').prop('checked', false);
    $('#delsubmit').click(function() {
      return window.confirm("Are you sure?");
    });
    $("#checkAll").click(function(){
      $('input:checkbox').prop('checked', true);
    });
  });
</script>

<%= will_paginate leads %>
