- edit ||= false
- collapsed = session[:contact_extra].nil? # && @contact.errors.empty?
= subtitle :contact_extra, collapsed, t(:extra_info)
.section
  %small#contact_extra_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:extra_info_small)) unless edit
  #contact_extra{ hidden_if(collapsed) }
    %table
      = hook(:contact_extra_details_form, self, :f => f) do
        %tr
          %td
            %br
            %h3 Desired Deal Date
        %tr
          %td
            =f.text_field :desireddeal
        %tr
          %td
            %br
            %h3 Property Info
        %tr
          %td
            .label Address:
            = f.text_field :address
          %td= spacer
          %td
            .label Unit:
            = f.text_field :unit
        %tr
          %td
            .label Postal Code:
            = f.text_field :postalcode
          %td= spacer
          %td
            .label City:
            = f.text_field :city
        %tr
          %td
            .label Neighbourhood:
            = f.text_field :neighbourhood
          %td= spacer
          %td
            .label Property Type:
            = f.text_field :propertytype
        %tr
          %td
            .label Asking Price:
            = f.text_field :price
          %td= spacer
          %td
            .label Building Age:
            = f.text_field :buildingage
        %tr
          %td
            .label Bedrooms:
            = f.text_field :bedrooms
          %td= spacer
          %td
            .label Bathrooms:
            = f.text_field :bathrooms
        %tr
          %td
            %br
            %h3 Secondary Contact
        %tr
          %td
            .label Name:
            = f.text_field :secname
        %tr
          %td
            .label Email:
            = f.text_field :secemail
        %tr
          %td
            .label Phone:
            = f.text_field :secphone
        %td
          %br
          %h3 #{t :rating}:
          = rating_select "contact[rating]", { :id => :contact_rating, :selected => @contact.rating, :style => "width:160px" }
        %tr

        -#  %td= spacer
        -#  %td
        -#    .label #{t :department}:
        -#    = f.text_field :department
        -#%tr
        -#  %td
        -#    .label #{t :alt_email}:
        -#    = f.text_field :alt_email
        -#  %td= spacer
        -#  %td
        -#    .label #{t :mobile}:
        -#    = f.text_field :mobile
        -#%tr
        -#  %td
        -#    = render "shared/address", :f => f, :asset => @contact, :type => 'business', :title => :address
        -#  %td= spacer
        -#  %td
        -#    .label #{t :fax}:
        -#    = f.text_field :fax
        -#    %div{:style => "margin-top:6px"}
        -#      .check_box
        -#        = f.check_box :do_not_call, {}, true
        -#        #{t :do_not_call}
