<%# app/views/contacts/_list.html.erb %>
<div id="filterrific_results">

  <div>
    <%= page_entries_info contacts %>(s)
  </div>
  <br>
  <style>
    #filter{
      width:100%;
    }
    #filter td,th{
      border:thin black solid;
    }
    #filter th{
      font-size:1.2em;
    }
    #filter td{
      text-align: right;
      padding-right:5px;
    }
  </style>
  <%= form_tag destroy_multiple_contacts_path, method: :delete do %>
  <table id="filter">
    <tr>
      <th>Name</th>
      <th>Buyer/Seller</th>
      <th>Assigned to</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Registered at</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% contacts.each do |contact| %>
        <tr>
          <td><%= link_to(contact.full_name, contact_path(contact)) %></td>
          <td><%= contact.lead.buysell if contact.lead.present? %></td>
          <td><%= User.where(:id => contact.assigned_to).last.username if contact.assigned_to.present? %></td>
          <td><%= contact.email %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.decorated_created_at %></td>
          <td><%= link_to('/', contact_path(contact)) %></td>
          <!--<td><%# link_to('x', contact_path(contact), data: {:confirm => "Are you sure?"}, :method => :delete) %></td>-->
          <!--<td><%# check_box_tag("delete[#{contact.id}]",1) %></td>-->
          <td><%= check_box_tag("contact_ids[]",contact.id,false,class: "deletecheck") %></td>
        </tr>
    <% end %>
  </table>
  <%= submit_tag "delete selected", id: "delsubmit" %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#delsubmit').click(function() {
      return window.confirm("Are you sure?");
    });
  });
</script>

<%= will_paginate contacts %>