<%# app/views/contacts/_list.html.erb %>
<div id="filterrific_results">

  <div>
    <%= page_entries_info contacts %>(s)
  </div>
  <br>
  <style>
    #filter{
      width:100%;
    }
    #filter td,th{
      border:thin black solid;
    }
    #filter th{
      font-size:1.2em;
    }
    #filter td{
      text-align: right;
      padding-right:5px;
    }
    .tablecss td{
      text-align: center !important;
      font-size: 1.3em;
    }
    .bulkbutton{
      color:white;
      display:inline-block;
      float:right;
      padding: 5px;
      margin: 5px;
      border-radius: 4px;
      box-shadow: 2px 2px 3px #aaa;
    }
    #delsubmit{
      background-color: red;
    }
    #checkAll{
      background-color: dodgerblue;
    }
  </style>
  <%= form_tag destroy_multiple_contacts_path, method: :delete do %>
  <table class="tablecss" id="filter">
    <tr style="text-align: center;">
      <th>Name</th>
      <th>Buyer/Seller</th>
      <th>Property Type</th>
      <th>Area</th>
      <th>Price</th>
      <th>Assigned to</th>
      <th>Registered at</th>
      <th>Rating</th>
      <% if current_user.admin? %>
        <th>Delete</th>
      <% end %>
    </tr>
    <% if current_user.admin? %>
      <% contacts.each do |contact| %>
        <tr>
          <td><%= link_to(contact.full_name, contact_path(contact)) %></td>
          <td><%= contact.lead.buysell if contact.lead.present? %></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
          <% if contact.assigned_to.present? %>
            <% magic = User.where(:id => contact.assigned_to).last %>
            <% if magic.first_name.present? && magic.last_name.present? %>
              <%= magic.first_name %> <%= magic.last_name %>
            <% else %>
              <%= magic.username %>
            <% end %>
          <% end %>
          </td>
          <td><%= contact.decorated_created_at %></td>
          <td><%= stars_for(contact) %></td>
          <!--<td><%# link_to('x', contact_path(contact), data: {:confirm => "Are you sure?"}, :method => :delete) %></td>-->
          <!--<td><%# check_box_tag("delete[#{contact.id}]",1) %></td>-->
          <% if current_user.admin? %>
            <td><%= check_box_tag("contact_ids[]",contact.id,false,class: "deletecheck") %></td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <% contacts.where(:assigned_to => current_user.id).each do |contact| %>
        <tr>
          <td><%= link_to(contact.full_name, contact_path(contact)) %></td>
          <td><%= contact.lead.buysell if contact.lead.present? %></td>
          <td>
          <% if contact.assigned_to.present? %>
              <% magic = User.where(:id => contact.assigned_to).last %>
              <% if magic.first_name.present? && magic.last_name.present? %>
                  <%= magic.first_name %> <%= magic.last_name %>
              <% else %>
                  <%= magic.username %>
              <% end %>
          <% end %>
          </td>
          <td><%= contact.decorated_created_at %></td>
          <td><%= stars_for(contact) %></td>
          <!--<td><%# link_to('x', contact_path(contact), data: {:confirm => "Are you sure?"}, :method => :delete) %></td>-->
          <!--<td><%# check_box_tag("delete[#{contact.id}]",1) %></td>-->
          <% if current_user.admin? %>
              <td><%= check_box_tag("contact_ids[]",contact.id,false,class: "deletecheck") %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
  <% if current_user.admin? %>
    <%= submit_tag "Delete Selected", id: "delsubmit", class: "bulkbutton" %>
  <% end %>
  <% end %>
  <% if current_user.admin? %>
    <input value="Select All" type="submit" id="checkAll" class="bulkbutton">
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('input:checkbox').prop('checked', false);
    $('#delsubmit').click(function() {
      return window.confirm("Are you sure?");
    });
    $("#checkAll").click(function(){
      $('input:checkbox').prop('checked', true);
    });
  });
</script>
<br><br><br><br>
<div>
  <%= will_paginate contacts %>
</div>
