.panel#summary
  %span{style: "float:right"}= avatar_for(@contact, size: "50x50")
  %h3= h(@contact.full_name)
  <br>
  -#= account_with_title_and_department(@contact)

  %div
    - if @contact.lead.present? && @contact.lead.buysell.present?
      == <b>[#{@contact.lead.buysell}]</b><br />

  %div
    - if @contact.lead && @contact.lead.source.present?
      == #{t :source}: <b>#{@contact.lead.source}</b><br />

  %div
    - if @contact.lead && @contact.lead.desireddeal.present?
      == #{t 'Desired Deal Date'}: <b>#{@contact.lead.desireddeal}</b><br />

  <br>

  %div
    - if @contact.lead && @contact.lead.buysell.present?
      - if @contact.lead.buysell == "Buyer"
        - if @contact.lead.cityname.present?
          == Area of Interest: <b>#{@contact.lead.cityname}</b>
        - if @contact.lead.neighbourhood.present?
          == Neighbourhood: <b>#{@contact.lead.neighbourhood}</b>

  %div= render "shared/address_show", asset: @contact, type: 'business', title: :address

  %div
    - if @contact.lead
      - if @contact.lead.address.present? && @contact.lead.unit.present?
        == #{t :Property}: <b>Unit #{@contact.lead.unit} - #{@contact.lead.address}</b><br />
      - elsif @contact.lead.address.present? && @contact.lead.unit.blank?
        == #{t :Property}: <b>#{@contact.lead.address}</b><br />

  %div
    - if @contact.lead && @contact.lead.postalcode.present?
      == <b>#{@contact.lead.postalcode}</b><br /><br />

  %div
    - unless @contact.phone.blank?
      == #{t :phone}: <b>#{@contact.do_not_call ? content_tag(:strike, h(@contact.phone)) : h(@contact.phone)}</b><br />
    - unless @contact.mobile.blank?
      == #{t :mobile}: <b>#{@contact.do_not_call ? content_tag(:strike, h(@contact.mobile)) : h(@contact.mobile)}</b><br />
    - unless @contact.fax.blank?
      == #{t :fax}: <b>#{@contact.do_not_call ? content_tag(:strike, h(@contact.fax)) : h(@contact.fax)}</b><br />
  %div
    - unless @contact.email.blank?
      == #{t :email}: <b>#{link_to_email(@contact.email)}</b><br />
    - unless @contact.alt_email.blank?
      == #{t :alt_email_small}: <b>#{link_to_email(@contact.alt_email)}</b><br />

  = web_presence_icons(@contact)

  %div
    -if @contact.lead.present?
      -if @contact.lead.propertytype.present?
        == Property Type: <b>#{@contact.lead.propertytype}</b> <br>
      -if @contact.lead.pricemin.present?
        == Minimum Price: <b>$#{@contact.lead.pricemin}</b> <br>
      -if @contact.lead.pricemax.present?
        == Asking Price: <b>$#{@contact.lead.pricemax}</b> <br>
      -if @contact.lead.bedrooms.present?
        == # of bedrooms: <b>#{@contact.lead.bedrooms}</b> <br>
      -if @contact.lead.bathrooms.present?
        == # of bathrooms: <b>#{@contact.lead.bathrooms}</b> <br>
      -if @contact.lead.buildingage.present?
        == Max. Bldg. Age: <b>#{@contact.lead.buildingage}</b> <br>
      -if @contact.title.present?
        == Occupation: <b>#{@contact.title}</b> <br>
      -if @contact.lead.extrainfo.present?
        == Extra Information: <b>#{@contact.lead.extrainfo}</b> <br>


  .caption #{t :contact_summary}
  %li
    %dt= @contact.assigned_to ? truncate(@contact.assignee.full_name, length: 16) : nil
    %tt #{t :assigned_to}:
  %li
    %dt
      - if @contact.lead
        = link_to(truncate(@contact.lead.name, length: 16), @contact.lead, title: @contact.lead.name)
      - else
        #{t :n_a}
    %tt #{t :lead}:
  %li
    %span{style: "float:right;"}= stars_for(@contact)
    %tt #{t :rating}:
  -#%li
  -#  %dt
  -#    - if @contact.lead.try(:campaign)
  -#      = link_to(truncate(@contact.lead.campaign.name, length: 16), @contact.lead.campaign, title: @contact.lead.campaign.name)
  -#    - else
  -#      #{t :n_a}
  -#  %tt #{t :campaign}:

  - unless @contact.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format @contact.background_info)

  = render "fields/sidebar_show", asset: @contact

  - if @contact.tags.present?
    %dt
      .tags= tags_for_index(@contact)

  = hook(:show_contact_sidebar_bottom, self, contact: @contact)
