<%= styles_for :contact %>

<%= render 'entities/title_bar' %>

<style>
  .btncontact{
   background-color: oldlace; /* Green */
   border: none;
   color: white;
   padding: 5px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   border-radius: 5px;
   box-shadow:2px 2px 3px #aaa;
   font-weight: 600;
  }

</style>

<div class="remote" id="create_contact" hidden="true"></div>

<div style="border: thin grey solid;box-shadow:2px 2px 3px #aaa;background-color: #eee">
  <h3 style="padding-left:10px;padding-top: 8px">Filter All</h3>

  <br>
  <%= form_for_filterrific @filterrific do |f| %>
      <div style="display:inline-block;padding-left:10px">
        Search
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
                :search_query,
                class: 'filterrific-periodically-observed'
            ) %>
      </div>
      <% if current_user.admin? %>
          <div style="display:inline-block;padding-left:10px">
            Assigned Realtor
            <%= f.select(
                    :with_assigned_to,
                    @filterrific.select_options[:with_assigned_to],
                    { include_blank: '- Any -' }
                ) %>
          </div>
      <% end %>
      <div style="display:inline-block;padding-left:10px">
        <%= f.text_field(:with_buysell, value: "", hidden: "true")%>
      </div>
      <div style="display:inline-block;padding-left:10px">
        Registered after
        <%= f.text_field(:with_created_at_gte, class: 'js-datepicker') %>
      </div>
      <div style="display:inline-block;padding-left:10px">
        Sort by
        <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
      </div>
      <br><br>
      <div style="padding-left:10px;padding-bottom: 7px">
        <%= link_to(
                'Reset filters',
                reset_filterrific_url,
            ) %>
      </div>
      <%# add an automated spinner to your form when the list is refreshed %>
      <%= render_filterrific_spinner %>
  <% end %>
</div>
<script>
  $(function(){
    $( ".js-datepicker" ).datepicker({
      dateFormat: 'yy-mm-dd'
    });
//    $("select option").unwrap().each(function() {
//      var btn = $('<div class="btn">'+$(this).text()+'</div>');
//      if($(this).is(':checked')) btn.addClass('on');
//      $(this).replaceWith(btn);
//    });
//
//    $(document).on('click', '.btn', function() {
//      $('.btn').removeClass('on');
//      $(this).addClass('on');
//    });
  });
</script>
<br>
<div style="float: right; padding-right: 1%;">
  <span class="btncontact"><%= link_to contacts_path do %><span>All Contacts</span><% end %></span>
  <span class="btncontact"><%= link_to contacts_buyers_path do %><span>Buyers</span><% end %></span>
  <span class="btncontact"><%= link_to contacts_sellers_path do %><span>Sellers</span><% end %></span>
</div>
<br>
<div id="clist">
<%= render(
        partial: 'contacts/list',
        locals: { contacts: @contacts }
    ) %>
</div>