<style>
  #filter{
    width:100%;
  }
  #filter td,th{
    border:thin black solid;
  }
  #filter th{
    font-size:1.2em;
  }
  #filter td{
    text-align: right;
    padding-right:5px;
  }
</style>
<h3>Potential Matching Contacts</h3>
<hr>
<% lastcity = "" %>
<% @contacts.each do |contact| %>
  <% if lastcity == "" || lastcity != contact.lead.cityname %>
        <!--also if where has buyer && where has seller-->
    <% lastcity = contact.lead.cityname %>
    <div id="<%=lastcity%>">
      <h3><%= lastcity %></h3>
      <table id="filter">
        <tr>
          <th>buyer</th>
          <th>seller</th>
        </tr>
        <tr>
          <td>info</td>
          <td>info</td>
        </tr>
      </table>
      <div style="width:100%;border: thin blue solid;float:left;">
        <div style="border:thin black solid;width:50.5%;float:left" class="buyers <%= lastcity %>">
        </div>
        <div style="border:thin black solid;width:49%;float:right;" class="sellers <%= lastcity %>">
        </div>
      </div>
    </div>
  <% end %>
    <% if contact.lead.buysell == "Buyer" %>
      <script type="text/javascript" charset="utf-8">
        $('.buyers.<%= lastcity %>').append("<div style=width:100%;><%=contact.first_name%></div>");
      </script>
    <% elsif contact.lead.buysell == "Seller" %>
      <script type="text/javascript" charset="utf-8">
        $('.sellers.<%= lastcity %>').append("<div style=width:100%;><%=contact.first_name%></div>");
      </script>
    <% end %>
<% end %>
<script type="text/javascript" charset="utf-8">
 $(document).ready(function(){
   $("#main > div").each(function(k,v){
     cityname = $(this).attr("id");
     if($("."+cityname+".buyers").children().length && $("."+cityname+".sellers").children().length){
       console.log("k");
     }else{
       $(this).hide();
     }
   });
 })
</script>